body {
  background-color: hsla(0, 0%, 94%, 1);
  margin: 2em;
}

h1 {
  font-family: arial, sans-serif;
  color: hsla(0, 0%, 32%, 1);
  font-size: 3.125em;
  font-weight: 1500;
  text-transform: uppercase;
}

form {
  background-color: hsla(185, 51%, 87%, 1);
  border-radius: 1em;
  padding: 2em;
}
}
